body{
  background-color: rgb(248, 248, 239);
}


#archway{
  height: 80vh;
  position: absolute;
  bottom: 0;
  right: 0;
}

#map-image{
  width: 70vw;
  position: absolute;
  left: 10vw;
}

#compass-icon{
  position: fixed;
  width: 7vw;
  z-index: 1;
}

.map-link{
  position: absolute;
  top: 20vh;
  left: 30vw;
}

#abydos-image{
  width: 80vw;
  position: absolute;
  top: 7vh;
  left: 10vw;
}

/* Sphinx Component */

#sphinx-container{
  display: grid;
  grid-template-columns: 50vw;
  justify-content: center;
  padding-top: 10vh;
}

#sphinx-image{
  width: 50vw;
  position: relative;
}

#sphinx-image-container{
  position: relative;
}

#sphinx-overlay{
  position: absolute;
  height: 100%;
  width: 50vw;
  /* z-index: 1; */
  background-color: grey;
  opacity: 0;
}



/* Artifact Classes */
.artifact-description{
  position: relative;
  margin-top: 7vh;
}